<a href="/clients/{{ client.id }}" class="card {% if client.getLastPing() == -1 %}border-danger{% else %}border-success{% endif %}" style="width: 14rem; margin: 1rem">

    <div class="card-body">


        <img class="card-img-top rounded mx-auto d-block" src="{{ client.getIcon() }}" alt="Card image cap" style="max-width: 8rem;">

        <h5 class="card-title">{{ client.getRadioName() }}</h5>
        <p class="card-text" style="margin-top: -1rem">
            <small class="text-muted float-left">{{ client.getOS() }}</small>
            <small class="text-muted float-right">{{ client.getRadioModel() }}</small>
            <span class="clearfix"></span>
        </p>

    </div>
</a>